.about
{
    margin-top: 1em;
}

.about .avatar img
{
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ccc;
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about .avatar img:hover
{
    opacity: 1;
}

.about .fullname
{
    margin: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
}

.about .bio
{
    margin: 0.5em;
}

.about .links
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90px;
}

.about .links a
{
    margin: 0 .5em;
}

.about .links .github
{
    background-image: url('../images/github.png');
    width: 16px;
    height: 16px;
    text-indent:-9999px;
    display: inline-block;
}

.about .links .twitter
{
    background-image: url('../images/twitter.png');
    width: 16px;
    height: 16px;
    text-indent:-9999px;
    display: inline-block;
}

.about .links .rss
{
    background-image: url('../images/rss.png');
    width: 16px;
    height: 16px;
    text-indent:-9999px;
    display: inline-block;
}

.content .posts ul li.post
{
    list-style: none;
}

.content .posts .post
{
    padding: 1em 0em;
    border-bottom: 1px solid #eee;
}

.content .posts .post .comments
{
    float: right;
    padding-right: 1em;
}

.content .posts .post .date
{
    padding-right: 1em;
}

.content .pagination a
{
    border-left-width: 1px;
}

.content .pagination .next
{
    float: right;
}

.content .pagination .previous
{
    float: left;
}

.content .post
{
    padding-top: 1em;
}
