@model Typeset.Web.Models.Posts.PageOfPostViewModel

<section class="row-fluid">
    <div class="span2">
        @Html.GenerateAbout(Model.About)
    </div>
    <section class="content span8">
        <section class="post">
            <h1>@Model.Post.Title</h1>
            <h2>@Model.Post.Date</h2>
            @Html.Raw(Model.Post.HtmlContent)
        </section>
    </section>
</section>