@model Typeset.Web.Models.Posts.PageOfPostViewModel

@Html.GenerateAbout(Model.About)

<section id="content">
    <section class="post">
        <h1>@Model.Post.Title</h1>
        <h2>@Model.Post.Date</h2>
        @Html.Raw(Model.Post.HtmlContent)
    </section>
</section>