@model Typeset.Web.Models.Posts.PageOfPostViewModel
@{ ViewBag.Title = Model.Post.Title; }
@section head_html {@foreach (var url in Model.Layout.HeadHtml){@Html.Include(url)}}
@section head_styles {@Html.CompileBundleAndMinifyStyles("head", Model.Layout.HeadStyles)}
@section head_scripts {@Html.CompileBundleAndMinifyScripts("head", Model.Layout.HeadScripts)}
@section body_content_pre {@foreach (var url in Model.Layout.BodyHtmlPreContent){@Html.Include(url)}}
@section body_content_post {@foreach (var url in Model.Layout.BodyHtmlPostContent){@Html.Include(url)}}
@section body_scripts {@Html.CompileBundleAndMinifyScripts("body", Model.Layout.BodyScripts)}
<article class="post">
    <header>
        <h1 class="title">@Model.Post.Title</h1>
        <time class="pubdate" pubdate="pubdate" datetime="@Html.MarkupDate(Model.Post.Date)">@Html.FormatDate(Model.Configuration, Model.Post.Date)</time>
    </header>
    <section class="body">
        @Html.Raw(Model.Post.HtmlContent)
    </section>
</article>